.header
  .head
    img.bdimg(src='http://7pumi0.com1.z0.glb.clouddn.com/bdface.png')
    span.blogname 后时代
    span.saying Say less,Do more!

  .nav
    ul.nav-ul
      li.nav-li
        a(href="./")首页
      li.nav-li
        a(href="./?tag=前端")前端
      li.nav-li
        a(href="./?tag=杂谈")杂谈
