
meta(name='keywords', content='前端,前端开发,前端工程师,web前端,web前端开发,web前端工程师,前端网站,前端论坛,w3cschool,网站前端开发,javascript视频教程,HTML5视频教程,HTML5游戏,HTML5手机,HTML5应用,HTML5网站,CSS3教程,CSS3视频教程,Node.js安装,Node.js开发,jquery mobile,jquery ui,jquery教程,jquery api前端资源,前端特效,资源下载,前端网,W3Cfuns,后时代')
meta(name='description', content='后时代,21世纪钢铁时代的留守者。关注前端,关注互联网,关注地球!')
meta(name='robots', conte='all')
meta(name='AUTHOR', content='小叔(wikibady)')
meta(name='Copyright', content='本页版权归小叔(wikibady)所有。All Rights Reserved')
