doctype html
html
  head
    title 404
    meta(name="viewport",content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0")
    meta(name='baidu_union_verify', content='f0611e16de06fe990f7b4fd28f077095')
    block seo
        include includes/seo
    link(rel='shortcut icon', href='http://7pumi0.com1.z0.glb.clouddn.com/bdico.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/height.min.css')
    script(src='/javascripts/height.min.js')
    script.
        hljs.initHighlightingOnLoad();var _hmt = _hmt || [];(function() {var hm = document.createElement("script");hm.src = "//hm.baidu.com/hm.js?d8e32ff93e7e8e0df1b38dad825c3cc4";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm, s);})();
        window.onload = function(){
            document.getElementsByClassName('p404')[0].onclick = function(){
                window.location.href="http://www.wikibady.com"
            }
            var leave = document.getElementsByClassName('leave')[0];
            var width = document.body.clientWidth;
            var height = document.body.clientHeight;
            setInterval(function(){
                var rw = Math.random() * width;
                var rh = Math.random() * height;
                var color =  '#'+('00000'+(Math.random()*0x1000000<<0).toString(16)).substr(-6);
                leave.style['left'] = rw + 'px';
                leave.style['top'] = rh + 'px';
                leave.style['color'] = color;
            },400)
        }
  body
    div.p404
        div.p404text
            页面飞啦
        span.leave
                轻触屏幕就回去啦
